<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Escuela de programación de videojuegos </title>
    <link rel="stylesheet" href="./static/css/estilo_principal.css">
</head>

<body>
    <header class="espaciado">
        <img class="flotar" src="./static/img/logo.png">
        <h1 class=titulo>Escuela de programación de videojuegos</h1>
    </header>
    <nav>
        <p> </p>
        <a href="./">Inicio</a>
        <a href="./#nosotros">Nosotros</a>
        <a href="./#mision">Misión y Visión</a>
        <a href="./admision">Admisión</a>
        <a href="./temario">Temario</a>
		<a href="./ejemplo">Ejemplo</a>
		<a href="./acceder">Cuenta</a>
        <a href="./#contacto">Contacto</a>
    </nav>
    <main>
        <section id="inicio">
            <h1>¿Quieres aprender a hacer algo así?</h1>
            <h1>¡Inscríbete a nuestra escuela!</h1>
            <img id="gif" src="./static/img/juego.gif">
            <button><a href="./ejemplo">Prueba el juego de ejemplo</a></button>
            <p></p><p></p>
        </section>
        <section id="nosotros">
            <h1>Nosotros </h1>
            <p>Somos una escuela dedicada a ensenar lenguajes de progamacion enfocados a los
                videojuegos. Cada uno de nuestros alumnos entra con la ilusion de ser un gran progamados y sale siendo
                uno.</p>
            <p><img src="./static/img/nosotros.jpg"></p>
        </section>
        <section id="mision">
            <h1>Mision</h1>
            <p>La escuela busca que más personas se adentren y entiendan el mundo de la
                programación. Con cursos para diferentes niveles; desde principiantes hasta cursos más aventados.</p>
            <br>
            <h1>Vision</h1>
            <p>Hacer más fácil el acceso a clases de programación para aquel público que esté
            interesado en aprender</p>
            <p><img src="./static/img/mision.jpg"></p>
        </section>
        <section id="contacto">
            <h1>Contacto</h1>
            <p>Telefono:759868587875<br> Mail:informacion@escueladevideojuegos.com</p>
            <img src="./static/img/mapa.png">
        </section>
    </main>
    <aside>
        <div>
            <p>Incripciones abiertas</p>
            <img src="./static/img/inscribete.png">
        </div>
        <div>
            <p>Conóce a tus profesores</p>
            <iframe  autoplay src="https://www.youtube.com/embed/5O1srQNyJXo?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <p>Consigue una beca </p>
            <a href="https://becasmexico.org/beca-benito-juarez/"><img src="./static/img/becas.jpg"></a>
        </div>
        <div>
            <p>Visita nuestras instalaciones</p>
            <img src="./static/img/instalaciones.jpg">
        </div>
    </aside>
    <footer>
        <p>Escuela de programación de videojuegos</p>
        <br>
        <p> 
            <li>Takeda Herrera Luis Mario </li>
            <li>Alonso Ballesteros Torres</li>
            <li>Xhane Carpio Romero</li>
            <li>Castillo Ortiz Jorge</li>
            <li>Rivera Cruz Elizabeth</li>
          
        </p>
        <p>Calzada Ermita Iztapalapa s/n, Colonia Santa Martha Acatitla.</p>
        <p>
            <a href="https://www.instagram.com">
                <svg width="60" height="60">
                    <rect x="4" y="4" rx="4" ry="4" width="40" height="40"
                    style="fill:rgb(30, 44, 173);stroke:black;stroke-width:3;opacity:1" />
                     <circle cx="24" cy="24" r="10" stroke="black" stroke-width="3" fill="rgb(30, 44, 173)" />
                     <circle cx="37" cy="13" r="2" stroke="black" stroke-width="3" fill="rgb(30, 44, 173)" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
            </a>
            <a href="https://www.facebook.com">
                <svg width="60" height="60">
                    <rect x="4" y="4" rx="4" ry="4" width="40" height="40"
                        style="fill:rgb(30, 44, 173);stroke:black;stroke-width:3;opacity:1" />
                    <text fill="black" font-family="verdana" font-size="30"  font-weight="bold" 
                        x="18" y="35">f</text>
                    Sorry, your browser does not support inline SVG.
                  </svg>
            </a>
            <a href="https://www.youtube.com">
                <svg width="60" height="60">
                    <rect x="4" y="4" rx="4" ry="4" width="40" height="40"
                        style="fill:rgb(30, 44, 173);stroke:black;stroke-width:3;opacity:1" />
                    <polygon points="17,15 32,23 17,33"
                    style="fill:rgb(30, 44, 173);stroke:black;stroke-width:3;  stroke-linejoin: round" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
            </a> 
        </p>
        <p>© Escuela de programación de videojuegos 2021</p>
    </footer>
</body>
</html>