<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temario | Escuela de programación de videojuegos</title>
     <link rel="stylesheet" href="./static/css/estilo_principal.css">
</head>
<body>
    <header class="espaciado">
        <img src="./static/img/logo.png">
        <h1 class=titulo>Escuela de programación de videojuegos</h1>
    </header>
    <nav>
        <p> </p>
        <a href="./">Inicio</a>
        <a href="./#nosotros">Nosotros</a>
        <a href="./#mision">Misión y Visión</a>
        <a href="./admision">Admisión</a>
        <a href="./temario">Temario</a>
		<a href="./ejemplo">Ejemplo</a>
		<a href="./acceder">Cuenta</a>
        <a href="./#contacto">Contacto</a>
    </nav>
    <main>
        <br>
        <h1>Temario</h1>
        <ul>
            <li>1er Trimestre 1
                <ul>
                    <li>Introducción a la Computación</li>
                    <li>Teorías del Entretenimiento Interactivo</li>
                    <li>Metodología de la Investigación</li>
                    <li>Fundamentos del Dibujo</li>
                    <li>Fundamentos Matemáticos</li>
                </ul>
            </li>
            <li>2do Trimestre
                <ul>
                    <li>Introducción a la Programación de Videojuegos</li>
                    <li>Algebra Vectorial</li>
                    <li>Diseño de la Comunicación</li>
                    <li>Narrativa y Desarrollo de Personajes</li>
                </ul>
            </li>
            <li>3er Trimestre
                <ul>
                    <li>Scripting y Creación de Prototipos</li>
                    <li>Introducción al Cálculo Diferencial</li>
                    <li>Diseño de Juegos</li>
                    <li>Imagen Digital</li>
                </ul>
            </li>
            <li>4to Trimestre
                <ul>
                    <li>Física Aplicada a la Programación de Videojuegos</li>
                    <li>Programación Orientada a Objetos I</li>
                    <li>Redes y Bases de Datos  </li>
                </ul>
            </li>
            <li>5to Trimestre
                <ul>
                    <li>Programación Orientada a Objetos II</li>
                    <li>Principios de Computación Gráfica</li>
                    <li>Herramientas y Técnicas Modelado</li>
                    <li>Marco Legal para los Nuevos Medios </li> 
                </ul>
            </li>
            <li>6to Trimestre
                <ul>
                    <li>Programación Orientada a Objetos III</li>
                    <li>Computación Gráfica</li>
                    <li>Arquitectura de Software</li>
                    <li>Gestión de Negocios para los Nuevos Medios</li>
                </ul>
            </li>
            <li>7mo Trimestre
                <ul>
                    <li>Sistemas de Scripting</li>
                    <li>Diseño de Sistema de Juego</li>
                    <li>Inteligencia Artificial</li>
                    <li>Diseño y Desarrollo de Aplicaciones de Realidad Virtual y Realidad Aumentada</li>
                </ul>
            </li>
            <li>8vo Trimestre
                <ul>
                    <li>Análisis de Algoritmos y Optimización</li>
                    <li>Ingeniería de Software</li>
                    <li>Conceptualización de Proyecto</li>
                    <li>Probabilidad y Estadística</li>
                </ul>
            </li>
            <li>9no Trimestre
                <ul>
                    <li>Diseño y Pre-Producción de Proyecto</li>
                    <li>Desarrollo de Aplicaciones</li>
                    <li>Introducción a la Mercadotecnia</li>
                    <li>Inteligencia Artificial Avanzada</li>
                </ul>
            </li>
            <li>10mo Trimestre
                <ul>
                    <li>Diseño y Programación de Videojuegos I</li>
                    <li>Usabilidad y Técnicas de Interacción</li>
                    <li>Juego y Sociedad  </li>
                </ul>
            </li>
            <li>11vo Trimestre
                <ul>
                    <li>Serious Games</li>
                    <li>Diseño y Programación de Videojuegos II</li>
                    <li>Panorama de la Industria del Videojuego </li>
                </ul>
            </li>
            <li>12vo Trimestre
                <ul>
                    <li>Seminario de Programación de Video</li>
                </ul>
            </li>
        </ul>  
    </main>
    <aside>
        <div>
            <p>Incripciones abiertas</p>
            <img src="./static/img/inscribete.png">
        </div>
        <div>
            <p>Conóce a tus profesores</p>
            <iframe  autoplay src="https://www.youtube.com/embed/5O1srQNyJXo?start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <p>Consigue una beca </p>
            <a href="https://becasmexico.org/beca-benito-juarez/"><img src="./static/img/becas.jpg"></a>
        </div>
        <div>
            <p>Visita nuestras instalaciones</p>
            <img src="./static/img/instalaciones.jpg">
        </div>
    </aside>
    <footer>
        <p>Escuela de programación de videojuegos</p>
        <br>
        <p>(insertar los nombres de los integrantes)
        <p></p>
        <p>Calzada Ermita Iztapalapa s/n, Colonia Santa Martha Acatitla.</p>
        <p>
            <a href="https://www.instagram.com">
                <svg width="60" height="60">
                    <rect x="4" y="4" rx="4" ry="4" width="40" height="40"
                    style="fill:rgb(30, 44, 173);stroke:black;stroke-width:3;opacity:1" />
                     <circle cx="24" cy="24" r="10" stroke="black" stroke-width="3" fill="rgb(30, 44, 173)" />
                     <circle cx="37" cy="13" r="2" stroke="black" stroke-width="3" fill="rgb(30, 44, 173)" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
            </a>
            <a href="https://www.facebook.com">
                <svg width="60" height="60">
                    <rect x="4" y="4" rx="4" ry="4" width="40" height="40"
                        style="fill:rgb(30, 44, 173);stroke:black;stroke-width:3;opacity:1" />
                    <text fill="black" font-family="verdana" font-size="30"  font-weight="bold" 
                        x="18" y="35">f</text>
                    Sorry, your browser does not support inline SVG.
                  </svg>
            </a>
            <a href="https://www.youtube.com">
                <svg width="60" height="60">
                    <rect x="4" y="4" rx="4" ry="4" width="40" height="40"
                        style="fill:rgb(30, 44, 173);stroke:black;stroke-width:3;opacity:1" />
                    <polygon points="17,15 32,23 17,33"
                    style="fill:rgb(30, 44, 173);stroke:black;stroke-width:3;  stroke-linejoin: round" />
                    Sorry, your browser does not support inline SVG.
                  </svg>
            </a> 
        </p>
        <p>© Escuela de programación de videojuegos 2021</p>
    </footer>
</body>
</html>